ul {
  list-style: none;
  padding: 0;
}

.ingcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  p {
    color: white;
    width: 100%;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0;
  }
}

.allIngContainer {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  align-items: center;
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.9);
}

.Ingredients {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 250px;
  margin: 10px 0;
}

.ingredient {
  width: 50px;
  height: 60px;
  margin: 2px;
  padding: 2px;
  transition: ease-in 0.3s;
}

// div.MyItems {
//   width: 100%;
// }

ul.myList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 250px;
  height: 75px;
  background-color: white;
  padding: 7px;
  margin: 5px;
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.45);
}

li.mine {
  width: 70px;
  height: 70px;
}

.crustacean {
  background: url('../icons/crustacean.svg') no-repeat center;
  content: "includes things";
}

.chosen.crustacean {
  background: url('../icons/crustaceanColor.svg') no-repeat center;
}

.egg {
  background: url('../icons/egg.svg') no-repeat center;
}

.chosen.egg {
  background: url('../icons/eggColor.svg') no-repeat center;
}

.fish {
  background: url('../icons/fish.svg') no-repeat center;
}

.chosen.fish {
  background: url('../icons/fishColor.svg') no-repeat center;
}

.gluten {
  background: url('../icons/gluten.svg') no-repeat center;
}

.chosen.gluten {
  background: url('../icons/glutenColor.svg') no-repeat center;
}

.milk {
  background: url('../icons/milk.svg') no-repeat center;
}

.chosen.milk {
  background: url('../icons/milkColor.svg') no-repeat center;
}

.mustard {
  background: url('../icons/mustard.svg') no-repeat center;
}

.chosen.mustard {
  background: url('../icons/mustardColor.svg') no-repeat center;
}

.nuts {
  background: url('../icons/nuts.svg') no-repeat center;
}

.chosen.nuts {
  background: url('../icons/nutsColor.svg') no-repeat center;
}

.peanuts {
  background: url('../icons/peanuts.svg') no-repeat center;
}

.chosen.peanuts {
  background: url('../icons/peanutsColor.svg') no-repeat center;
}

.sesame {
  background: url('../icons/sesame.svg') no-repeat center;
}

.chosen.sesame {
  background: url('../icons/sesameColor.svg') no-repeat center;
}

.shellfish {
  background: url('../icons/shellfish.svg') no-repeat center;
}

.chosen.shellfish {
  background: url('../icons/shellfishColor.svg') no-repeat center;
}

.soy {
  background: url('../icons/soy.svg') no-repeat center;
}

.chosen.soy {
  background: url('../icons/soyColor.svg') no-repeat center;
}
