.Ingredients {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 250px;
}

.ingredient {
  width: 50px;
  height: 60px;
  margin: 2px;
  padding: 2px;
}

.notChosen.crustacean {
  background: url('../icons/crustacean.svg') no-repeat center;
}

.Chosen.crustacean {
  background: url('../icons/crustaceanColor.svg') no-repeat center;
}

.notChosen.egg {
  background: url('../icons/egg.svg') no-repeat center;
}

.Chosen.egg {
  background: url('../icons/eggColor.svg') no-repeat center;
}

.notChosen.gluten {
  background: url('../icons/gluten.svg') no-repeat center;
}

.Chosen.gluten {
  background: url('../icons/glutenColor.svg') no-repeat center;
}

.notChosen.mustard {
  background: url('../icons/mustard.svg') no-repeat center;
}

.Chosen.mustard {
  background: url('../icons/mustardColor.svg') no-repeat center;
}

.notChosen.nuts {
  background: url('../icons/nuts.svg') no-repeat center;
}

.Chosen.nuts {
  background: url('../icons/nutsColor.svg') no-repeat center;
}

.notChosen.sesame {
  background: url('../icons/sesame.svg') no-repeat center;
}

.Chosen.sesame {
  background: url('../icons/sesameColor.svg') no-repeat center;
}
