@import 'utility';
@import 'button';
@import 'ingredient';

$base-text-size: 16px;
$base-font-family: 'Josefin Sans', sans-serif;

html {
  @include full-height;

  font-family: $base-font-family;
}

.Choose,
.MyItems,
.NewUserHome,
.ReturningUserHome,
.FoundIng,
.Search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  // background-image: url('../images/circles-and-roundabouts.png');
  background-color: $backgroundColor;
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
}

.App {
  display: flex;
  flex-direction: column;
}

.Logo {
  max-width: 75px;
  margin-top: 10px;
  align-self: flex-start;
}

.codePointer {
  position: fixed;
  bottom: 30px;
}

main {
  flex: 1;
}

h1.title {
  color: transparent;
  margin: 0;
}

.Search {
  height: 350px;
  width: 350px;
}

.eatOrDont h2 {
  // height: 30px;
  margin: 0;
  font-weight: 600;
  text-align: center;
  color: $primaryFontColor;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 8px;
  background-color: white;
  color: $accentColor;
}

#interactive.viewport {
  position: relative;
}

#interactive.viewport > canvas,
#interactive.viewport > video {
  max-width: 75%;
  width: 75%;
}

canvas.drawing,
canvas.drawingBuffer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}
