@import 'utility';
@import 'button';
@import 'ingredient';

$base-text-size: 16px;
$base-font-family: 'Josefin Sans', sans-serif;

html {
  @include full-height;

  font-family: $base-font-family;
}

.Choose,
.MyItems,
.NewUserHome,
.ReturningUserHome,
.FoundIng,
.Search,
.Scanner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  // background-image: url('../images/circles-and-roundabouts.png');
  background-color: $backgroundColor;
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
}

.App {
  display: flex;
  flex-direction: column;
}

.Logo {
  max-width: 50px;
  margin-top: 10px;
  align-self: flex-start;
}

.Header {
  width: 300px;
  display: flex;
  justify-content: space-between;
  // align-items: baseline;
  padding: 5px;
}

.profile {
  display: flex;
  flex-direction: column;

  h4 {
    margin: 0;
    font-size: 0.8em;
  }
}

.profilePic {
  border-radius: 50%;
  width: 40px;
  align-self: center;
}

main {
  flex: 1;
}

h1.title {
  color: transparent;
  margin: 0;
}

.Search {
  // height: 325px;
  width: 350px;
}

.ctr {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input.upcMan {
  width: 200px;
  height: 30px;
  font-size: 1em;
  font-weight: 300;
  background-color: white;

}

.eatOrDont h2 {
  // height: 30px;
  margin: 0;
  font-weight: 600;
  text-align: center;
  color: $primaryFontColor;
}

footer {
  display: flex;
  justify-content: space-around;
  padding: 8px;
  background-color: white;
  color: $accentColor;
}

.scanContainer {
  // height: 300px;
}

#interactive.viewport {
  position: relative;
  display: flex;
  // height: 300px;
  justify-content: center;
}

#interactive.viewport > canvas,
#interactive.viewport > video {
  max-width: 75%;
  width: 75%;
  align-self: flex-start;
}

// #interactive.viewport > video {
//   opacity: 0.5;
// }

canvas.drawing,
canvas.drawingBuffer {
  display: none;
  position: absolute;
  left: 50px;
  top: 0;
  right: 0;
}
