@import 'utility';
@import 'button';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

.ItemList,
.MyItems,
.NewUserHome,
.ReturningUserHome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: $backgroundColor;
  background-image: url('../images/circles-and-roundabouts.png');
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
}
